.FooterScrollUpBtnBtnStyle {
    width: 65px;
    height: 85px;
    background-color: transparent;
    transform: rotate(0.5turn);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none ;
  
}
.btn-arrow-border{
    border-bottom: 1px solid black ;
    position: relative;
    border-radius: 29px;
    width: 45px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FooterScrollUpBtnBtnStyle .btn-arrow-style {
   
    width: 90%;
    height: 90%;
    border-radius: 40px;
    background-color: #05D35D;
    
    
}
.btn-arrow-style .arrow-style {
    top: 0;
    width: 40%;
    height: auto;
    object-fit: contain;
    animation-name: scrollBtnUpAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes scrollBtnUpAnim {
    0% {
        transform:translate(0px, 1px);
    }

    50% {
        transform:translate(0px, 20px);
    }

    100% {
        transform:translate(0px, 1px);
    }
}